name: Deploy PostgreSQL RDS

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

jobs:
  deploy-database:
    name: Deploy PostgreSQL Database
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Configurar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Inicializar Terraform
        working-directory: ./terraform
        run: terraform init

      - name: Validar Terraform
        working-directory: ./terraform
        run: terraform validate

      - name: Planejar Terraform
        working-directory: ./terraform
        env:
          TF_VAR_aws_region: ${{ env.AWS_REGION }}
          TF_VAR_db_master_username: ${{ secrets.DB_MASTER_USERNAME }}
          TF_VAR_db_master_password: ${{ secrets.DB_MASTER_PASSWORD }}
          TF_VAR_terraform_state_bucket: ${{ secrets.TF_VAR_BUCKET_NAME }}
        run: terraform plan -out=tfplan

      - name: Aplicar Terraform
        working-directory: ./terraform
        env:
          TF_VAR_aws_region: ${{ env.AWS_REGION }}
          TF_VAR_db_master_username: ${{ secrets.DB_MASTER_USERNAME }}
          TF_VAR_db_master_password: ${{ secrets.DB_MASTER_PASSWORD }}
          TF_VAR_terraform_state_bucket: ${{ secrets.TF_VAR_BUCKET_NAME }}
        run: terraform apply -auto-approve tfplan

      - name: Exibir informações do PostgreSQL
        working-directory: ./terraform
        run: |
          echo "PostgreSQL Instance Endpoint:"
          terraform output postgres_instance_endpoint
          echo "PostgreSQL Database Name:"
          terraform output postgres_database_name
